
*{
    margin:0;
    padding:0;
    text-align: center;
  }
  body{
    margin:0;
    padding:0;
    background:#050c21;
    justify-content: center;
  }
  
  /* Ta3leem logo style //////////////////////*/
  
  ul{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
    
  }
  ul li{
    list-style:none;
    width:40px;
    height:40px;
    background:#fff;
    border-radius:50%;
    animation:grow 1.6s ease-in-out infinite;
  }
    @keyframes grow
    {
      0% , 40% , 100%
      {
        transform:scale(0.2);
      }
      20%{
         transform:scale(1);
  
      }
    }
  
  ul li:nth-child(1){
    animation-delay:-1.4s;
    background:#ffff00;
    box-shadow:0 0 50px #ffff00;
    
  }
  ul li:nth-child(2){
    animation-delay:-1.2s;
    background:#76ff03;
    box-shadow:0 0 50px #76ff03;
    
  }
  ul li:nth-child(3){
    animation-delay:-1s;
    background:#f06292;
    box-shadow:0 0 50px #f06292;
    
  }
  ul li:nth-child(4){
    animation-delay:-0.8s;
    background:#4fc3f7;
    box-shadow:0 0 50px #4fc3f7;
    
  }
  ul li:nth-child(5){
    animation-delay:-0.6s;
    background:#ba68c8;
    box-shadow:0 0 50px #ba68c8;
    
  }
  ul li:nth-child(6){
    animation-delay:-0.4s;
    background:#f57c00;
    box-shadow:0 0 50px #f57c00;
    
  }
  ul li:nth-child(7){
    animation-delay:-0.2s;
    background:#673ab7;
    box-shadow:0 0 50px #673ab7;
    
  }
  
  .logo-ta3leem{
    display:flex ;
    width: 300px;
    height:100px;
    margin: 20px;
    top: 20px;
    left: 5px;
    justify-content: center;
  }
  .points-container{
   top: 10%;
   left: 10%;
   margin-left:10px;
   margin-bottom: 5px;
   margin-top: 20px;
  }
  h1{
    display: flex;
    font-size:60px;
    color: white;
    margin: 10px;
  }
  
  /*the end of ta3leem logo style/////////////// */
  .box{
  
    height:450px;
    left:50%;
    margin: 30px;
    border-radius:10px; 
    box-shadow:
      inset 0 -3em 3em rgba(0, 0, 0, 0.906),
      0 0 0 2px rgb(59, 59, 59),
      0.3em 0.3em 2em rgba(5, 255, 226, 0.234);
      background: #ffffff2a;
      padding: 0;
      display: flex;
  }
  .b1{
      width: 20%;
  }
  .b2{
      width: 60%;
  
  }
  
  /* seelect button style */
  .container {
      width: 1000px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .container .btn {
      position: relative;
      top: 0;
      left: 0;
      width: 250px;
      height: 50px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .container .btn a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 30px;
      padding: 10px;
      letter-spacing: 1px;
      text-decoration: none;
      overflow: hidden;
      color: #fff;
      font-weight: 400px;
      z-index: 1;
      transition: 0.5s;
      backdrop-filter: blur(15px);
  }
  .container .btn:hover a {
      letter-spacing: 3px;
  }
  .container .btn a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
      transform: skewX(45deg) translate(0);
      transition: 0.5s;
      filter: blur(0px);
  }
  .container .btn:hover a::before {
      transform: skewX(45deg) translate(200px);
  }
  .container .btn::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      bottom: -5px;
      width: 30px;
      height: 10px;
      background: #f00;
      border-radius: 10px;
      transition: 0.5s;
      transition-delay: 0.5;
  }
  .container .btn:hover::before /*lightup button*/ {
      bottom: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
  }
  
  .container .btn::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      top: -5px;
      width: 30px;
      height: 10px;
      background: #f00;
      border-radius: 10px;
      transition: 0.5s;
      transition-delay: 0.5;
  }
  .container .btn:hover::after /*lightup button*/ {
      top: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
  }
  .container .btn:nth-child(1)::before, /*chnage 1*/
  .container .btn:nth-child(1)::after {
      background: #ff1f71;
      box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
          0 0 60px #ff1f71;
  }
  .container .btn:nth-child(2)::before, /* 2*/
  .container .btn:nth-child(2)::after {
      background: #2db2ff;
      box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
          0 0 60px #2db2ff;
  }
  .container .btn:nth-child(3)::before, /* 3*/
  .container .btn:nth-child(3)::after {
      background: #1eff45;
      box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
          0 0 60px #1eff45;
  }
  
  
  
  /* DOWNLODE BUTTON STYLE */
  .button{
    position:relative;
    display:inline-block;
    margin:20px;
  }
  
  .button a button{
    text-decoration: none;
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
  }

  a
  {
    text-decoration: none;
  }
  
  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  
  

#staging 
{
  width       : 80%;
  display     : flex;
  position    : relative;
  left        : 10px;
}
#staging img
{
  width       : 50px;
  height      : 50px;
  resize      : both;
  position    : absolute;
  left        : 10px;
  top         : 10px;
}
#staging video
{
  position    : relative;
  left        : 0;
  top         : 0;
  width       : fit-content;
  height      : fit-content;
  object-fit  : contain;
}





















/* 
body
{
    margin          : 20px;
}

*
{
    max-width       : 1200px;
    min-width       : 360px;
    max-height      : 100%;
    margin          : 0;
    padding         : 0;
    background-color: #f2f2f2;
    text-align      : center;
}
.flex
{
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    flex-grow       : 1;
    flex-shrink     : 1;
    justify-content : center;
    align-items     : center;
}
.container
{
    margin          : 20px;
    padding         : 20px;
    margin          : 0 auto;
    width           : fit-content;
}
.main-container
{
    width           : 100%;
    height          : 80%;
    margin          : 20px;
    padding         : 20px;
    position        : absolute;
    left            : 50%;
    top             : 50%;
    transform       : translate(-50% , -50%);
}
.shadow
{
    box-shadow      : rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.rounded
{
    border-radius    : 12px;
}
.border
{
    border            : 1px solid black;
}
.btn
{
    outline             : none;
    background-color    : transparent;
    border-radius       : 12px;
    width               : fit-content;
    padding             : 5px;
    margin              : 5px;
}
.btn-dark
{
    background-color    : rgb(36, 36, 36);
    color               : white;
    text-align          : center;
}
.input-group
{
    width               : fit-content;
    margin              : 12px;
    padding             : 25px;
    flex                : 1;
    text-align          : center;
    border              : 5px dashed rgb(71, 71, 71);
    border-radius       : 12px;
    position            : relative;
    
}
.input-group img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: red;
    z-index: 9;
    display: none;
}
.input-group h1
{
    text-align          : center;
    margin              : 22px auto;
}
.input-group input[type="file"]
{
    cursor              : pointer;
    margin              : 0 auto;
    opacity             : 0;
    height              : 100%;
    width               : 100%;
    position            : absolute;
    left                : 50%;
    top                 : 50%;
    transform           : translate(-50% , -50%);

}
.input-group button
{
    border              : 2px solid;
    border-radius       : 4px;
    color               : blue;
    display             : inline-block;
    padding             : 10px 20px;
    position            : relative;
}
.input-group img,video
{
    width               : 100%;
    height              : 100%;
    object-fit          : cover;
    display             : none;
} */