<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Home</title>
</head>
<body>

    <form action="" method="post" enctype="multipart/form-data">
        <div class="main-container flex rounded shadow border">
            <div class="welcom" style="flex: 100%;">
                
                <h1>
                    Put your logo on any video you want!
                </h1>
            </div>
            {% csrf_token %}
            <div class="input-group">
                <img src="" alt="">
                <h1>
                    Select your logo image 
                </h1>
                <input type="file" id="logoInput" name="logo" accept="image/*" required>
                <div class="mediaContainer" id="logoContainer" style="background-image: none;"></div>
            </div>

            <div class="input-group" >
                <h1>
                    Select your video
                </h1>
                <input type="file" id="videoInput" name="video" accept="video/*" required>             
            </div>
            <div> 
                <button class="btn btn-dark">
                    Make
                </button>
            </div>
            <div class="staging flex" id="staging">
                <img src="" alt="" id="logo">
            </div>
        </div>
    </form>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>